header img{
    height: 55px;
    width: 55px;
    float: left ;
    display: inline;
    margin: 20px;
    
}
header h2{
    color: #f2d39a;
    font-size: 50px !important;
    padding-left:15px;
    padding-top: 20px;
}

#video {

    border: 5px solid #ccc; 
    padding: 10px;          
    background-color: black; 
    border-radius: 10px;     
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    max-width: 75%;         
    margin: 20px auto;      
    margin-top: 30px;
}

video {
    margin-top: 30px;
    width: 600px;  
    height: 600px; 
}
#audio {
    margin: 20px;
}
